/*your custom css goes here*/

.text-decoration-line-through {
    text-decoration: line-through !important;
}

.text-decoration-underline {
    text-decoration: underline !important;
}

.text-decoration-none {
    text-decoration: none !important;
}

.active-category{
    color: #ac8660 !important;
}

.ml-1{
    margin-left: 1rem !important;
}

.ml-2{
    margin-left: 2rem !important;
}
.mb-1{
    margin-bottom: 1rem !important;
}
.mb-2{
    margin-bottom: 2rem !important;
}

.lnr-heart.active {
    color: red !important;
}

.red{
    color: red !important;
}

.shadow-inset{
    box-shadow: inset 0 2px 5px rgba(0,0,0,.08);
}

.gap-2{
    gap: 0.5rem !important;
}

.level1-wrapper {
    counter-reset: level1;
}

.level1-block {
    counter-increment: level1;
    position: relative;
    padding-left: 35px;
}

.level1-block::before {
    content: counter(level1) ".";
    position: absolute;
    left: -20px;
    top: 33px;
    font-weight: bold;
    font-size: 16px;
}
.wh-12{
    width: 12px;
    height: 12px;
}